<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>

    <body>
        <h1>Welcome to Jack's Home Automation's system</h1>
        <a href="/logs/jack">Jack's logs</a><br>
        <a href="/test">Security Status</a><br>
        <form action='/' method='POST'>
            <label>Passcode</label>
            <input type='text' id='passcode' name='passcode'>
            <br>
            <button type='submit' value='submit'>SUBMIT</button>
        </form>
    </body>
</html>
